<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        div.pagecontent {
            margin: 0px 30px;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Lfu ToolBox</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/area">図形の面積の計算</a>
                    <a class="mdl-navigation__link" href="/classification">画像の分類</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Lfu ToolBox</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/area/circle">円の面積の計算</a>
                <a class="mdl-navigation__link" href="/area/rectangle">長方形の面積の計算</a>
            </nav>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/classification/cucumber_zucchini">キュウリとズッキーニの分類</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="pagecontent">
                <h3>ライセンス</h3>
                <p>
                    このサイトは <a class="license" href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> 
                    のもとで配布されている Material Design Lite を使用して製作されています。
                </p>
                <style>
                    a.license {
                        color: #cb1b57;
                    }
                </style>
            </div>
            <div class="layout-spacer"></div>
                <script>
                    function setSpacer() {
                        let doc_height = document.body.offsetHeight;
                        let window_top = window.pageYOffset;
                        let view_y = document.getElementsByClassName("layout-spacer")[0].getBoundingClientRect().top;
                        let footer_height = document.getElementsByClassName("mdl-mini-footer")[0].offsetHeight;
                        var spacer = doc_height - window_top - view_y - footer_height;
                        if (spacer <= 30) {
                            spacer = spacer + 30;
                        }
                        document.getElementsByClassName("layout-spacer")[0].style.paddingBottom = (spacer).toString() + "px";
                    }
                    window.onload = setSpacer;
                    window.onresize = setSpacer;
                </script>
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"></div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="/about">このサイトについて</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <small>&copy; 2021 Lfu ToolBox. All rights reserved.</small>
                    </div>
                </footer>
        </main>
    </div>
</body>

</html>