<div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Lfu ToolBox</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/area/circle">円の面積の計算</a>
                    <a class="mdl-navigation__link" href="/area/rectangle">長方形の面積の計算</a>
                </nav>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/classification/cucumber_zucchini">キュウリとズッキーニの分類</a>
                    <a class="mdl-navigation__link" href="/classification/dog_cat">犬と猫の分類</a>
                </nav>
            </div>