<header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Lfu ToolBox</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="/area">図形の面積の計算</a>
                        <a class="mdl-navigation__link" href="/classification">画像の分類</a>
                    </nav>
                </div>
            </header>